@page "/"

<PageTitle>Toshokon → Dashboard</PageTitle>

<!-- Page body -->
<div class="page-body">

    <div class="container-xl">
        <div class="row row-cards mb-3">
            <div class="col-xl-8 col-md-6 col-sm-12">
                <div class="row row-cards ">

                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Overall
                            </div>
                            <h2 class="page-title">
                                Dashboard
                            </h2>
                        </div>
                    </div>

                    <div class="col-4">
                        <BoxComponent Title="Total mangas" SubTitle="@TotalMangas.ToString()" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="Total episodes" SubTitle="@TotalEpisodes.ToString()" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="Total pages" SubTitle="@TotalPages.ToString()" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New mangas today" SubTitle="@TotalMangasToday.ToString()" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New episodes today" SubTitle="@TotalEpisodesToday.ToString()" />
                    </div>
                    <div class="col-4">
                        <BoxComponent Title="New pages today" SubTitle="@TotalPagesToday.ToString()" />
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="row row-cards ">

                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Notifications
                            </div>
                            <h2 class="page-title">
                                Latest notificatons
                            </h2>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card" style="height: 14.2rem">
                            <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                <div class="divide-y">

                                    @if (this.LatestNotifications == null)
                                    {
                                        for (var i = 0; i < 10; i++)
                                        {
                                            <div class="row">
                                                <div class="col-auto">
                                                    <span class="avatar">NO</span>
                                                </div>
                                                <div class="col">
                                                    <div class="text-truncate ">
                                                        <div class="placeholder col-9 mb-2"></div>
                                                    </div>
                                                    <div class="text-muted">
                                                        <div class="placeholder  placeholder-xs col-6"></div>
                                                    </div>
                                                </div>
                                                <div class="col-auto align-self-center">
                                                    <div class="badge bg-secondary"></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        @if (this.LatestNotifications.Count > 0)
                                        {
                                            foreach (var item in this.LatestNotifications)
                                            {
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <span class="avatar">NO</span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-truncate">
                                                            @item.Message
                                                        </div>
                                                        <div class="text-muted">@item.CreatedAt.ToString()</div>
                                                    </div>
                                                    <div class="col-auto align-self-center">
                                                        <a href="@item.Link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                                                <line x1="10" y1="14" x2="20" y2="4" />
                                                                <polyline points="15 4 20 4 20 9" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="empty">
                                                <p class="empty-title">No results found</p>
                                                <p class="empty-subtitle text-muted">
                                                    There are no notifications.
                                                </p>
                                            </div>
                                        }


                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Mangas
                            </div>
                            <h2 class="page-title">
                                Latest processed
                            </h2>
                        </div>
                    </div>

                    @if (LatestMangasProcessed == null)
                    {
                        for (var i = 0; i < 6; i++)
                        {
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <CardComponent />
                            </div>
                        }
                    }
                    else
                    {
                        @if (LatestMangasProcessed.Count > 0)
                        {
                            foreach (var item in LatestMangasProcessed)
                            {
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <a href="/manga/@item.Id">
                                        <CardComponent Image="@item.Poster" Title="@item.Name" />
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="empty">
                                <p class="empty-title">No results found</p>
                                <p class="empty-subtitle text-muted">
                                    There are no mangas.
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Episodes
                            </div>
                            <h2 class="page-title">
                                Latest added
                            </h2>
                        </div>
                    </div>

                    @if (LatestEpisodeAdded == null)
                    {
                        for (var i = 0; i < 6; i++)
                        {
                            <div class="col-xl-3 col-md-4 col-sm-6">
                                <EpisodeComponent />
                            </div>
                        }
                    }
                    else
                    {
                        if (LatestEpisodeAdded.Count > 0)
                        {
                            foreach (var item in LatestEpisodeAdded)
                            {
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <a href="/episode/@item.Id">
                                        <EpisodeComponent Image="@item.Poster" Title="@item.Name" />
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="empty">
                                <p class="empty-title">No results found</p>
                                <p class="empty-subtitle text-muted">
                                    There are no episodes.
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>


        <div class="row row-cards">
            <div class="col-12">
                <div class="row row-cards mb-3">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Mangas
                            </div>
                            <h2 class="page-title">
                                Processed mangas
                            </h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-table table-responsive">
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Authors</th>
                                            <th>Genres</th>
                                            <th>Added</th>
                                            <th>Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (this.MangaList == null)
                                        {
                                            for (var i = 0; i < 10; i++)
                                            {
                                                <tr class="placeholder-glow">
                                                    <td>
                                                        <div class="placeholder placeholder-xs col-10"></div>
                                                    </td>
                                                    <td class="text-muted">
                                                        <div class="placeholder placeholder-xs col-10"></div>
                                                    </td>
                                                    <td class="text-muted">
                                                        <div class="placeholder placeholder-xs col-10"></div>
                                                    </td>
                                                    <td class="text-muted">
                                                        <div class="placeholder placeholder-xs col-10"></div>
                                                    </td>
                                                    <td class="text-muted">
                                                        <div class="placeholder placeholder-xs col-10"></div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            @if (this.MangaList.Count > 0)
                                            {
                                                foreach (var item in this.MangaList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.Name
                                                            <a href="/manga/@item.Id" class="ms-1" aria-label="Open website">
                                                                <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                                            </a>

                                                        </td>
                                                        <td class="text-muted">
                                                            @{
                                                                var authors = Libraries.Shared.Utils.BadgeUtils.SplitForBadges(item.Authors);

                                                                foreach (var author in authors)
                                                                {
                                                                    <span class="badge badge-outline text-secondary me-1 mb-1">@author.Trim()</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-muted">
                                                            @{
                                                                var genres = Libraries.Shared.Utils.BadgeUtils.SplitForBadges(item.Genres);

                                                                foreach (var genre in genres)
                                                                {
                                                                    <span class="badge badge-outline text-secondary me-1 mb-1">@genre.Trim()</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-muted">@item.CreatedAt.ToString()</td>
                                                        <td class="text-muted">@item.UpdatedAt.ToString()</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">
                                                        <div class="empty">
                                                            <p class="empty-title">No results found</p>
                                                            <p class="empty-subtitle text-muted">
                                                                There are no mangas.
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>



