@page "/latest"

<PageTitle>Toshokon → Latest updated</PageTitle>

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Library
                </div>
                <h2 class="page-title">
                    Latest updated
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-lg-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Authors</th>
                                    <th>Genres</th>
                                    <th>Enabled</th>
                                    <th>Processed</th>
                                    <th>Added</th>
                                    <th>Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (this.MangaList == null)
                                {
                                    for (var i = 0; i < 10; i++)
                                    {
                                        <tr class="placeholder-glow">
                                            <td>
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="placeholder placeholder-xs col-10"></div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @if (this.MangaList.Count > 0)
                                    {
                                        foreach (var item in this.MangaList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name
                                                    <a href="/manga/@item.Id" class="ms-1" aria-label="Open website">
                                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                                    </a>

                                                </td>
                                                <td class="text-muted">
                                                    @{
                                                        var authors = Libraries.Shared.Utils.BadgeUtils.SplitForBadges(item.Authors);

                                                        foreach (var author in authors)
                                                        {
                                                            <span class="badge badge-outline text-azure me-1 mb-1">@author.Trim()</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-muted">
                                                    @{
                                                        var genres = Libraries.Shared.Utils.BadgeUtils.SplitForBadges(item.Genres);

                                                        foreach (var genre in genres)
                                                        {
                                                            <span class="badge badge-outline text-azure me-1 mb-1">@genre.Trim()</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-muted">
                                                    @{
                                                        if (item.Enabled)
                                                        {
                                                            <span class="badge badge-outline text-green me-1 mb-1">YES</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-outline text-red me-1 mb-1">NO</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-muted">
                                                    @{
                                                        if (item.Processed)
                                                        {
                                                            <span class="badge badge-outline text-green me-1 mb-1">YES</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-outline text-red me-1 mb-1">NO</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-muted">@item.CreatedAt.ToString()</td>
                                                <td class="text-muted">@item.UpdatedAt.ToString()</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <div class="empty">
                                                    <p class="empty-title">No results found</p>
                                                    <p class="empty-subtitle text-muted">
                                                        There are no mangas.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


